[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "third_party/tiny-dnn"]
	path = third_party/tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/cctz"]
	path = third_party/cctz
	url = https://github.com/google/cctz
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
