[submodule "comm_scope"]
	path = scopes/comm_scope
	url = https://github.com/c3sr/comm_scope.git
[submodule "example_scope"]
	path = scopes/example_scope
	url = https://github.com/c3sr/example_scope.git
[submodule "misc_scope"]
	path = scopes/misc_scope
	url = https://github.com/rai-project/misc_scope.git
[submodule "nccl_scope"]
	path = scopes/nccl_scope
	url = https://github.com/rai-project/nccl_scope.git
